.welcome {
    height: 800px;
    width: 1400px;
    padding-bottom: 100px;
}

.navbar>nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
}
.footer {
    height: 80px;
    background-color: black;
    color: white;    
}

.footer>p {
    font-size: 25px;
}

li {
    list-style: none;
}

.displayCards {
    display: flex;
}